body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('bg.svg');
    background-size: cover;
    background-position: center;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand img {
    height: 50px;
    margin-right: 10px;
}

.navbar-brand .brand-name {
    font-weight: bold;
    font-size: 24px;
    margin: 0;
}

.navbar-brand .sub-title {
    font-size: 14px;
    margin: 0;
}

.navbar-nav .nav-link {
    font-size: 18px;
    color: #343a40 !important;
}

.navbar .btn {
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 20px;
    margin-left: 10px;
}

.btn-outline-primary {
    color: #142A74;
    border-color: #142A74;
}

.btn-outline-primary:hover {
    background-color: #142A74 !important;
    color: white;
    border-color: #142A74;
}

.btn-primary {
    background-color: #142A74;
    border-color: #142A74;
}

.btn-primary:hover {
    background-color: #142A74 !important;
    border-color: #0d1d51;
}

.bg-custom {
    background-color: #142A74;
    color: white;
}

h3 {
    font-size: 36px;
}

p {
    font-size: 20px;
}

.btn-outline-light {
    font-size: 24px;
    border-radius: 50px;
    background-color: #f8f9fa;
}

.btn-outline-light:hover {
    background-color: #f8f9fa !important;
    color: #142A74 !important;
}

.input-group-text {
    cursor: pointer;
}

.logo {
    width: 100px;
    height: auto;
}

.login-card-img {
    width: 80%;
    height: auto;
    display: block;
    margin: 20px auto;
}

.brand-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-top: 56px;
    padding-bottom: 20px;
}

.login-card {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    background-color: white;
}

.login-card .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.login-logo {
    width: 100px;
    height: auto;
}

.login-card .login-btn {
    background-color: #142A74;
    color: #fff;
    border: none;
}

.login-card .login-btn:hover {
    background-color: #0d1d51;
}
