body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('bg.svg');
    background-size: cover;
    background-position: center;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand img {
    height: 50px;
    margin-right: 10px;
}

.navbar-brand .brand-name {
    font-weight: bold;
    font-size: 24px;
    margin: 0;
}

.navbar-brand .sub-title {
    font-size: 14px;
    margin: 0;
}

.navbar-nav .nav-link {
    font-size: 18px;
    color: #343a40 !important; /* dark color */
}

.navbar .btn {
    font-size: 16px;
    padding: 10px 20px; /* Adding padding */
    border-radius: 20px; /* Rounded edges for buttons */
    margin-left: 10px;
}

.btn-outline-primary {
    color: #142A74;
    border-color: #142A74;
}

.btn-outline-primary:hover {
    background-color: #142A74 !important; 
    color: white;
    border-color: #142A74;
}

.btn-primary {
    background-color: #142A74;
    border-color: #142A74;
}

.btn-primary:hover {
    background-color: #142A74 !important;
    border-color: #0d1d51;
}

.bg-custom {
    background-color: #142A74;
    color: white;
}

h3 {
    font-size: 36px;
}

p {
    font-size: 20px;
}

.btn-outline-light {
    font-size: 24px;
    border-radius: 50px;
    background-color: #f8f9fa;
}

.btn-outline-light:hover {
    background-color: #f8f9fa !important; /* Example light color */
    color: #142A74 !important; /* Example dark color */
}

.input-group-text {
    cursor: pointer;
}

.logo {
    width: 100px; /* Set your desired width */
    height: auto; /* Maintain aspect ratio */
}

.login-card-img {
    width: 80%; /* Adjust to make the image smaller */
    height: auto; /* Maintain aspect ratio */
    display: block;
    margin: 20px auto; /* Center the image and add some margin */
}

.brand-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-top: 56px; /* Height of the navbar */
    padding-bottom: 20px; /* Optional bottom padding */
}

.login-card {
    width: 100%;
    max-width: 1100px; /* Increased max-width for larger card */
    margin: 0 auto;
    border-radius: 60px; /* Make the card more rounded */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 60px; /* Increased padding to make the card taller */
}

.login-card .card-body {
    padding: 30px;
}

.login-card .login-btn {
    background-color: #142A74;
    color: #fff;
    border: none;
}

.login-card .login-btn:hover {
    background-color: #0d1d51;
}


