body {
    font-family: 'Arial', sans-serif;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand img {
    height: 50px;
    margin-right: 10px;
}

.navbar-brand .brand-name {
    font-weight: bold;
    font-size: 24px;
    margin: 0;
}

.navbar-brand .sub-title {
    font-size: 14px;
    margin: 0;
}

.navbar-nav .nav-link {
    font-size: 18px;
    color: #343a40 !important; /* dark color */
}

.navbar .btn {
    font-size: 16px;
    padding: 10px 20px; /* Adding padding */
    border-radius: 20px; /* Rounded edges for buttons */
    margin-left: 10px;
    
}

.btn-outline-primary {
    color: #142A74;
    border-color: #142A74;
}

.btn-outline-primary:hover {
    background-color: #142A74 !important; 
    color: white;
    border-color: #142A74;
}

.btn-primary {
    background-color: #142A74;
    border-color: #142A74;
}

.btn-primary:hover {
    background-color: #142A74 !important;
    border-color: #0d1d51;
}

.bg-custom {
    background-color: #142A74;
    color: white;
}

.registration-form {
    background-color: #142A74;
    padding: 30px;
    border-radius: 10px;
    width: 70%;
    color: white;
}

h3 {
    font-size: 24px;
}

p {
    font-size: 16px;
}

.btn-primary {
    font-size: 18px;
}

.input-group-text {
    cursor: pointer;
}
